.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputField{
    padding-left: 5px;
    margin-bottom: 14px;
    height: 34px;
    width: 300px;
    border:1px solid rgb(149, 149, 149);
    border-radius: 4px;
}
.text{
    font-weight: 600;
}
.btnn{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 34px;
    width: 300px;
    border: 0cap;
    border-radius: 3px;
}
.auth-container{
    height: 93vh;
    display: flex;
    background-color: #eef2ff;
    align-items: center;
    justify-content: center;
}
.signup-component{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:   auto;
    height: auto;
    padding: 10px;
    padding-bottom: 30px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 1px solid #ddd;
}
.signup-component h1{
    color: var(--primary-color);
}