.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputField{
    background-color: #e4e4e4;
    margin-bottom: 14px;
    height: 34px;
    width: 300px;
    border:1px solid rgb(149, 149, 149);
    border-radius: 4px;
}
.text{
    font-weight: 600;
}
.btn{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 34px;
    width: 300px;
    border: 0cap;
    border-radius: 3px;
}
.auth-container{
    /* background-color: #e4e4e4; */
    background: var(--gradient);
    height: 93vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.signup-component{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:   auto;
    height: auto;
    padding: 0px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #e4e4e4;
}
.signup-component h1{
    color: var(--primary-color);
}